/* FONTE LOGO */
@font-face {
  font-family: 'IntroRust';
  src: url('../font/IntroRust.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e9e9e9;
  padding: 10px 30px;
}

/* CONTAINER ESQUERDA */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  width: 40px;
  height: 40px;
}

.logo-text {
  display: flex;
  gap: 10px;
}

.logo-text h1 {
  font-size: 16px;
  color: #5bcafa;
  font-family: 'IntroRust';
}

.logo-text span {
  font-size: 15px;
  color: #666;
}

/* MENU */
.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: 0.3s;
}

.menu a:hover {
  color: #2d7df6;
  font-weight: bold
}

/* USUÁRIO */
.user-container {
  display: flex;
  align-items: center;
}

.user-container img {
  width: 30px;
  height: 30px;
}

.user-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2d7df6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.user-btn i {
  color: white;
  font-size: 18px;
}